.login-page {
  height: 100%;

  md-toolbar {
    .logo {
      border: 2px solid white;
      border-radius: 50%;
      margin: 30px auto 0;
      width: 60px;
      height: 60px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin: auto;
      margin-top: 5px;
    }
  }

  a {
    padding: 0 16px 0 10px;

    md-icon {
      font-size: 20px;
    }
  }
}