.stats-page {
  md-card {
    md-card-title {
      border-bottom: 1px solid lightgray;
    }

    md-table-container {
      border-left: 1px solid lightgray;
    }

    .empty-data {
      text-align: center;
      padding: 30px;
      color: gray;
      font-size: smaller;
    }
  }

  .player-ranking {
    border-radius: 50%;
    background-color: rgba(220,220,220,1);
    color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
  }

  .chart-container-wrapper {
    height: 300px;
  }
}