<div class="login-page" layout="row" layout-align="center center" style="min-height: 400px">
    <md-card flex="40" flex-sm="60" flex-xs="100">
        <md-toolbar>
            <div class="logo" layout="row" layout-align="center center"><img src="/img/logo.png"></div>

            <div class="md-toolbar-tools">
                <h2>Fooscore</h2>
            </div>
        </md-toolbar>
        <md-card-content layout="column" layout-align="center center">
            <p class="explanation md-body-1">Veuillez vous identifier avec votre compte Google pour continuer.</p>
            <md-button class="md-raised md-primary" href="/auth/google"><md-icon>lock_outline</md-icon> Connexion</md-button>
        </md-card-content>
    </md-card>
</div>